<!DOCTYPE html>
<html>
<head>
	<title><%= title; %> | <%= name; %></title>
	<meta name="description" content="<%= description; %>">
	<% if ( environment !== 'production' ) { %>
		<% public.static.css._contents.forEach(( asset ) => { %>
			<link rel="stylesheet" type="text/css" href="/static/css/<%=asset;%>">
		<% }); %>
	<% } else { %>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<% } %>
</head>
<body>
	<%- partial("_partials/_header"); %>
	<div class="main-wrapper">
		<%- yield; %>
		<div class="main-wrapper-background">
			<%- partial("_partials/_backgroundWrapper"); %>
		</div>
		<div id="loading-dock" class="loading"><div class="loading-dock-content"><img src="<%=logoImage;%>"></div></div>
	</div>
	<%- partial("_partials/_footer"); %>
	<% public.static.js._contents.forEach(( asset ) => { %>
		<script type="text/javascript" src="/static/js/<%=asset;%>"></script>
	<% }); %>
</body>
</html>
